
.Line{
    display: flex;
  }
  .login{
    border-radius: 8px;
    color : black;
    margin: 0rem auto;
    width: 50%;
    background-color: white;;
    padding: 0 0 4rem 0;
    margin-top: 1rem;
    margin-bottom: 2rem
  }
  
  .login__header{
    border-bottom: 1px solid #DDE2E5;
  }
  
  .middle{
    align-items: center;
  }
  
  .closeme{
    margin-right: 1rem;
    width: max-content;
    cursor: pointer;
  }
  
  .login__heading{
    width: 90%;
    font-size: 1rem;
    text-align: center;
  }
  
  
  .input{
    border-radius: 0.5rem;
    width: 100%;
    display: block;
    border: 1px solid #AFAFAF;
    padding: 1rem 1rem;
    color : #888888;
    background-color: white;
    margin-bottom: 2rem;
  }
  
  
  .login__submit--btn{
    color : white;
    font-size: 1rem;
    border-radius: 8px;
    padding: 0.8rem;
    display: block;
    width: 100%;
    text-align: center;
    background: linear-gradient(90deg, #541FCB 0%, #443DF6 97.4%);
    border: none;
  }
  
  .loginor{
    margin: 0.5rem;
    font-size: 1rem;
    text-align: center;
  }
  
  .login__google{
    padding: 0 0.3rem;
    border: 2px solid #B0B0B0;
    display: flex;
    align-items: center;
    border-radius: 8px;
  }
  
  .logingoogleicon{
    width: max-content;
  }
  .login__google--text{
    margin: 0;
    text-align: center;
    width: 100%;
    font-size: 1rem;
  }
  .footer--login{
    font-size: 0.8rem;
    text-align: center;
  }
  .hey{
    margin: 1rem 0;
    font-size: 1rem;
  }
  .container{
    padding: 0 2rem;
  }
  .span{
    color: red;
  }
  .hr{
    position: relative;
    top: 20px;
    margin-bottom: 0;
  }
  